body,
html {
    font-family: "Catamaran";
    font-weight: 500 !important;
    font-size: 20px !important;
    letter-spacing: 1px;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #242424;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
}

figure {
    margin: 0 !important;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.tab-content {
    max-height: 750px;
    overflow-y: scrollbar;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

p {
    color: white;
}

.leftSide {
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftSideMainContainer,
.rightSideMainContainer {
    width: 80%;
    margin: 0 auto;
}

.rightSide {
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullWidth {
    width: 100%;
}

/* MENU TAB START */

#msTheBearLogo,
.nav-item {
    margin: 10px;
}

#msTheBearLogo {
    width: 150px;
    border-radius: 5px;

    --border-size: 3px;
    --border-angle: 0turn;
    background-image: conic-gradient(from var(--border-angle),
            #242424,
            #242424),
        conic-gradient(from var(--border-angle), transparent 20%, #eb901dff, #49b293ff);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
        cover;
    background-position: center center;
    background-repeat: no-repeat;

    animation: bg-spin 5s linear infinite;

    @keyframes bg-spin {
        to {
            --border-angle: 1turn;
        }
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 2turn;
}

.nav-tabs {
    border: none !important;
}

.nav-tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-link {
    color: orange !important;
    border: none !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .show>.nav-link {
    background-color: transparent !important;
    color: #33b291 !important;
    border: none !important;
}


.nav-link:hover {
    color: #33b291 !important;
    border: none !important;
}

/* MENU TAB END */


/* ABOUT ME TAB START */


h4 {
    font-weight: 1000;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

#michalPhoto {
    transition: all 500ms ease;
    margin-bottom: 10px;
}

#hiMyNameIs {
    font-size: 1.5rem;
    text-justify: inter-word;
    text-shadow: 1.5px 1.5px 2px #33b291;
}

#aboutMeText {
    margin: 20px 20px 0 20px;
    text-align: center;
    letter-spacing: 0.5px;
}

.photoAboutMeContainer {
    display: flex;
    align-items: center;
    background-color: #191919;
    border-radius: 30px;
    padding: 30px;
}

.coursesContainer {
    color: orange;
    display: flex;
    align-items: center;
    padding: 20px;
}

.coursesIconsContainer {
    display: flex;
    justify-content: space-evenly;
}

.technologiesIcons,
.interestsIcons {
    margin-bottom: 15px;
    transition: all 500ms ease;
}

.technologiesIcons {
    width: 140px;
    max-width: 200px;
}

.coursesIcons {
    width: 150px;
    transition: all 500ms ease;
}

.technologiesContainer {
    color: orange;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #191919;
    border-radius: 30px;
}

.spaceTextIcons {
    margin-bottom: 20px;
}

.interestsContainer {
    color: orange;
    display: flex;
    align-items: center;
    background-color: #242424;
    margin-top: 20px !important;
}

/* ABOUT ME TAB END */


/* PROJECTS TAB START */

h4,
h5,
h6,
.projectNameText {
    font-weight: 1000;
    letter-spacing: 1px;
    color: #f4911b;
}

.projectMainPhotoContainer {
    background-color: #191919;
    padding: 5% 5% 0 5%;
    border-radius: 30px;
}

.projectMainPhoto {
    width: 100%;
    margin-bottom: 3%;
}

#p_link,
#p_github {
    transition: all 0.25s ease-in-out;
}

#p_github:hover {
    color: #33b291 !important;
}

#p_link:hover {
    color: #33b291 !important;
}

#p_main {
    border-radius: 30px;
    transition: all 500ms ease;
}

a {
    color: #f4911b !important;
    text-decoration: none !important;
}

.projectDescriptionContainer {
    margin: 25px 0 25px 0;
}

#p_description {
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.5px;
}

.buttonsNoBackground {
    background: none;
    border: none;
}

.projectThumbnailsContainer {
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 30px;
    background-color: #191919;
}

.projectsThumbnails {
    cursor: pointer;
    transition: all 500ms ease;
}

#p_mini1,
#p_mini2,
#p_mini3,
#p_mini4 {
    padding: 10px;
    border-radius: 30px;
}

/* PROJECTS TAB END */


/* MODAL START */

.btn-close {
    filter: brightness(0) invert(1);
}

.modal {
    --bs-modal-padding: 0 !important;
}

.modal-header {
    background-color: #f4911bff;
    border-bottom: none !important;
}

.modal-body,
.modal-dialog,
.modal-content {
    border: none !important;
    background-color: transparent !important;
}

.modal-header {
    width: 100%;
}

.modal-content {
    align-items: center;
}

.smallScreenshots {
    width: 100%;
    border-radius: 0 0 20px 20px;
}

/* MODAL END */


/* CONTACT ME START */

.reachOutContainer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 750px;
    border-radius: 30px;
    background-color: #191919;
}

#reachOutToMe {
    color: orange;
}

#mailboxIcon {
    transition: all 500ms ease;
    margin-bottom: 15px;
}

.formContainer {
    margin: 0 auto;
    padding: 5%;
    width: 100%;
}

.form-control {
    font-weight: 1000;
    letter-spacing: 1px;
    color: #f4911b;
    border: none;
    border-bottom: solid 1px #f4911b;
}

.formSpacing {
    margin-top: 20px;
    margin-bottom: 20px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.808) !important;
}

::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.808) !important;
}


#textArea {
    padding-top: 15px;
    width: 100%;
}

#textArea:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: solid 4px #f4911b;
}

.inputBox {
    font-weight: 1000 !important;
    letter-spacing: 1px;
    background-color: #242424 !important;
    margin: 20px 0 20px 0;
    color: #f4911b !important;
    border: none !important;
}

.inputBoxNameEmail {
    height: 50px !important;
}

.inputBoxNameEmail:focus {
    border-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: solid 4px #f4911b !important;
}

.buttonForm {
    width: 100px !important;
    margin: 0 auto;
    font-weight: 1000 !important;
    letter-spacing: 1px;
    border: none !important;
    background-color: #f4911b !important;
}

.buttonForm:hover {
    background-color: #33b291 !important;
}

ul li {
    display: inline-block;
}

.socialContainer {
    margin-top: 20px;
}

.socialIcons {
    width: 35px;
    margin: 1%;
    transition: all 500ms ease;
}

.socialIcons_ {
    width: 30px;
    margin: 10px;
    transition: all 500ms ease;
}

.photoSocial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* CONTACT ME END */


/* RIGHT SIDE START */

#projectsText {
    color: orange;
    display: none;
    margin-bottom: 20px;
}

.column2ProjectThumbnail {
    border: solid 3px #f4911b;
    border-radius: 10%;
    width: 100%;
}

.imgButton {
    background-color: transparent !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.overlayText {
    font-family: "Catamaran";
    font-weight: 500 !important;
    color: white;
    font-size: 1vw;
    line-height: 130%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.projectContainer {
    position: relative;
    text-align: center;
}

.centered {
    width: 70%;
    position: absolute;
    top: 15%;
    bottom: 15%;
    right: 15%;
    left: 15%;
    transition: transform 250ms ease-in-out;
}

.centered:hover {
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
}

/* RIGHT SIDE END */


/* THANK YOU PAGE START */

.thankYouSection {
    background-color: #191919;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thankYouContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: #242424;
    border-radius: 20px;
}

#checkBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: #191919;
}

#buttonBackHome {
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #33b291;
    padding: 10px;
    transition: 0.2s all ease-in-out;
}

#buttonBackHome:hover {
    background-color: orange;
}

/* THANK YOU PAGE END */


/* MOBILE VIEW */

@media (hover: hover) {

    #michalPhoto:hover,
    .coursesIcons:hover,
    .interestsIcons:hover,
    .technologiesIcons:hover,
    #p_main:hover,
    .projectsThumbnails:hover,
    .socialIcons:hover,
    .socialIcons_:hover,
    #mailboxIcon:hover {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        transform: translate(0, -10px);
    }

}

@media (min-width: 1921px) {

    .tab-content {
        min-height: 1080px;
    }

    .photoAboutMeContainer {
        padding: 60px;
    }

    #aboutMeText {
        letter-spacing: 1px;
    }

    .spaceTextIcons {
        margin-bottom: 40px;
    }

    .reachOutContainer {
        min-height: 950px;
    }

    .inputBoxNameEmail {
        height: 80px !important;
    }

    .inputBoxNameEmail:focus {
        border: 1px solid red;
    }

}


@media (max-width: 1400px) {

    #contact {
        margin-bottom: 50px;
    }

    .modal-header {
        width: 90%;
        margin: 0 auto;
    }

    .modal-body {
        width: 90%;
        margin: 0 auto;
    }

    #michalPhoto {
        padding: 0;
        margin-bottom: 10px;
    }

    #msTheBearLogo {
        margin-bottom: 10px;
    }

    .interestsContainer {
        margin-bottom: 20px;
    }

    .rightSide {
        border-radius: 30px 30px 0 0;
        width: 80% !important;
        margin: 0 auto;
        background-color: #191919 !important;
    }

    .rightSideMainContainer {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }

    #projectsText {
        display: block;
        margin-bottom: 20px;
    }

    .photoSocial {
        padding: 0;
    }

    .tab-content {
        max-height: 100%;
    }

    .overlayText {
        font-size: 1.5vw;
    }

    .formContainer {
        margin: 0 auto;
        padding: 5%;
        width: 100%;
    }

}

@media (max-width: 991px) {

    .nav-item {
        font-size: 0.8rem;
    }

    #aboutMeText {
        margin: 10px 10px 0 10px;
    }

    .leftSideMainContainer {
        width: 90%;
        margin: 0 auto;
    }

    #myTab li:first-child {
        margin-top: 20px;
        width: 100% !important;
    }

    #msTheBearLogo {
        width: 180px;
    }

    .rightSide {
        border-radius: 30px 30px 0 0;
        width: 90% !important;
        margin: 0 auto;
        background-color: #191919 !important;
    }

    .rightSideMainContainer {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
        width: 80%;
    }

    .overlayText {
        font-size: 2vw;
    }

}